<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.com">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous">
    <title>New Client register</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: darkseagreen;">
    <div class="container-fluid">
        <a class="navbar-brand text-blue" href="#"> Invoice Manager </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active text-black" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-black" href="saveClient"> New Client </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-black" href="saveProduct"> New Product </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-black" href="all_Clients"> All Clients </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-black" href="all_Products"> All Products </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-black" href="all_Invoices"> All Invoices </a>
                </li>
            </ul>

        </div>
    </div>
</nav>

<div class="container my-5 p-5" style="border:1px solid black;">
    <h4 class="text-center">New Invoice</h4>
    <form class="col-md-4 offset-md-4" th:action="@{/saveInvoice}" th:object="${invoice}" method="post">
        <div class="mb-3">
            <label>ID</label>
            <input type="text" class="form-control" th:field="*{id}" readonly>
        </div>
        <div class="mb-3">
            <label>Date of issue</label>
            <input type="datetime-local" class="form-control" th:field="*{date}">
        </div>

        <div class="mb-3">
            <label>Payment method</label>
            <input type="text" class="form-control" th:field="*{reglement}">
        </div>
        <div class="mb-3">
            <label>Client ID</label>
            <input type="text" class="form-control" th:field="*{client}">
        </div>
        <div class="mb-3">
            <label>Product ID</label>
            <input type="text" class="form-control" th:field="*{products}">
        </div>
        <center>
            <button type="submit" class="btn btn-primary">Submit</button>
        </center>
    </form>
</div>

</body>
</html>